body {
    background-color: black;
}

header {
    text-align: center;
}

h1 {
    display: inline-block;
    font-size: 4.375em;
    word-spacing: -1ch;
}

@keyframes cursor-blink {
    from {
        color: rgb(255, 255, 255);
    }
    to {
        color: rgb(0, 0, 0);
    }
}

h1:after {
    /*animation: cursor-blink 1s step-end 1s infinite forwards;*/
    animation: cursor-blink 0.333s steps(2, end) infinite;
    /*animation: cursor-blink 1s infinite;*/
    content: "-";
    /*transition: color 1s;*/
    vertical-align: sub;
}

h1, h2 {
    text-shadow: none;
    text-transform: lowercase;
}

h1 .name:before, h2:before {
    content: "<";
}

h1 .name:after, h2:after {
    content: ">";
}

#main {
    color: rgb(124, 252, 0);
    font-family: "Droid Sans Mono", monospace;
}

#content > section {
    background-color: transparent;
    box-shadow: none;
    margin: auto;
    padding-bottom: 0;
}

#content > section:before {
    color: rgb(255, 255, 255);
    content: "================================================================================";
    display: block;
    margin-bottom: 1.25em;
    overflow: hidden;
    text-align: center;
}

h2 {
    margin-bottom: 0.75em;
}

blockquote {
    background-color: blue;
    border: 0.25em double rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

blockquote p {
    margin: 0.75em;
}

#sites > ul > li {
    background-color: rgb(255, 0, 0);
    border: 0.125em dotted rgb(255, 255, 255);
    color: white;
    padding: 1.25em;
}

#sites .screenshot {
    /*border: 0.125em solid white;*/
}

#sites .screenshot img {
    border: 0.125em solid rgb(255, 255, 255);
}

#sites aside ul {
    list-style-type: none;
    margin-left: auto;
}

#sites aside li {
    padding-left: 2ch;
    text-indent: -2ch;
}

#sites aside li:before {
    content: "◊ ";
}

footer {
    border-top: 0.0625em dashed rgb(255, 255, 255);
    padding: 1em;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer ul li {
    /*flex: 1 0 content;*/
    padding: 0.375em 1em;
}

footer ul a {
    color: rgb(255, 255, 0);
}

@media (min-width: 460px) and (max-width: 617px) {
    h1 {
        font-size: 3.375em;
    }
}

@media (max-width: 459px) {
    h1 {
        font-size: 2.875em;
    }
}

@media (max-width: 364px) {
    footer ul {
        justify-content: space-between;
    }
}