* {
    box-sizing: border-box;
}

body {
    background-color: lightsteelblue;
    font-size: 16px;
}

#body-bg {
    background: url(images/abstract_white_background_by_taufiknurs-d6a9czb.jpg) 0 0 / cover fixed lightgray;
    filter: blur(3px);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1;
}

#main {
    color: #333;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding-bottom: 2em;
    width: 600px;
}

#main > * {
    /*border-bottom: 1px solid blue;*/
}

h1 {
    color: white;
    font-size: 5em;
    letter-spacing: -0.0625em;
    text-align: center;
    /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
    text-shadow: 2px 3px 4px rgba(0,0,0,0.4);
}

#content > section {
    background-color: white;
    /*border-radius: 0.333em;*/
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);*/
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);*/
    margin-top: 1.25em;
    /* border-bottom: 2px solid gray; */
    padding: 1.25em;
    /* border-right: 1px solid darkgray; */
    /* border-left: 1px solid #ccc; */
    /* border-top: 1px solid #ccc; */
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    /*     font-weight: bold; */
}

#testimonials li {
    margin-bottom: 1.5em;
}

blockquote {
    background-color: #eee;
    padding: 1em;
}

blockquote p {
    margin: 0.75em;
}

cite {
    display: block;
    font-style: italic;
    margin-top: 0.75em;
    text-align: right;
}

#sites > ul > li {
    background-color: #eee;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 1.5em;
    padding: 1em;
}

#sites > ul > li > * {
    /*flex: 1 auto;*/
}

#sites > ul > li img {
    flex-basis: 33%;
    height: 100%;
    width: 42%;
}

#sites > ul > li aside {
    flex-basis: 58%;
    margin-left: 0.8em;
}

h3 {
    font-size: 1.33em;
    margin-bottom: 0.33em;
}

#sites aside ul {
    list-style: circle;
    margin-left: 1.25em;
}

#sites aside li {
    margin-bottom: 0.25em;
}

@media (max-width: 617px) {
    #main {
        width: calc(100% - 1em);
    }

    h1 {
        font-size: 3.5em;
    }

    #content > section {
        /*box-shadow: none;*/
    }
}