* {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-size: 16px;
}

#main {
    color: rgb(124, 252, 0);
    font-family: "Droid Sans Mono", monospace;
    margin: auto;
    padding: 0 1.25em;
    width: 600px;
}

header {
    text-align: center;
}

h1, h2 {
    text-transform: lowercase;
}

h1 {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 4.375em;
    letter-spacing: -0.0625em;
    margin-top: 0.25em;
    text-align: center;
    word-spacing: -1ch;
}

@keyframes cursor-blink {
    from {
        color: rgb(255, 255, 255);
    }
    to {
        color: rgb(0, 0, 0);
    }
}

h1:after {
    /*animation: cursor-blink 1s step-end 1s infinite forwards;*/
    /*animation: cursor-blink 1s infinite;*/
    animation: cursor-blink 0.333s steps(2, end) infinite;
    content: "-";
    vertical-align: sub;
}

h1 .name:before, h2:before {
    content: "<";
}

h1 .name:after, h2:after {
    content: ">";
}

p {
    margin: 0.75em auto;
}

#content > section {
    margin: 2.25em auto;
}

#content > section:before {
    color: rgb(255, 255, 255);
    content: "================================================================================";
    display: block;
    margin-bottom: 1.25em;
    overflow: hidden;
    text-align: center;
}

#content > section:first-child {
    margin-top: 1.25em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.75em;
}

#testimonials li {
    margin-bottom: 1.75em;
}

blockquote {
    background-color: rgb(0, 0, 255);
    border: 0.25em double rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 1em 1.75em;
}

cite {
    display: block;
    font-style: italic;
    margin-top: 0.75em;
    text-align: right;
}

#sites > ul > li {
    background-color: rgb(255, 0, 0);
    border: 0.125em dotted rgb(255, 255, 255);
    color: white;
    margin-bottom: 1.5em;
    padding: 1.25em;
}

#sites .screenshot {
    box-sizing: content-box;
    height: 0;
    margin-bottom: 1em;
    padding-bottom: 56.25%;
    text-align: center;
    width: 100%;
}

#sites .screenshot img {
    border: 0.125em solid rgb(255, 255, 255);
    width: 100%;
}

h3 {
    font-size: 1.33em;
    margin: 0.5em auto;
}

#sites aside ul {
    /* Nothing here because that's the point. :) See next few rules. */
}

#sites aside li {
    margin-bottom: 0.75em;
    padding-left: 2ch;
    text-indent: -2ch;
}

#sites aside li:before {
    content: "◊ ";
}

footer {
    border-top: 0.0625em dashed rgb(255, 255, 255);
    padding: 1em;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer ul li {
    /*flex: 1 0 content;*/
    padding: 0.375em 1em;
}

footer ul a {
    color: rgb(255, 255, 0);
}


/* Breakpoints */

@media (max-width: 599px) {
    #main {
        width: 100%;
    }
}

@media (min-width: 460px) and (max-width: 599px) {
    h1 {
        font-size: 3.375em;
    }
}

@media (max-width: 459px) {
    h1 {
        font-size: 2.875em;
    }
}

@media (max-width: 389px) {
    #main {
        padding: 0 0.875em;
    }
    h1 {
        font-size: 2.375em;
    }
    #content, footer {
        font-size: 0.8125em;
    }
}

@media (max-width: 311px) {
    #main {
        min-width: 288px;
    }
    footer ul {
        justify-content: space-between;
    }
}